<div class="page-header">
  <h1>后台管理</h1>
</div>

<h2>菜单项管理</h2>
<%= render "menuitems/menuitems" %>

<hr/>

<h2>内容页管理</h2>
<%= render "pages/pages" %>

<hr/>

<h2>列表页管理</h2>
<%= render "lists/lists" %>